
/vendor/monolog
/vendor/myclabs
/vendor/nikic
/vendor/twig
/vendor/sebastian
/vendor/phpunit
/vendor/theseer
/vendor/webmozart
/vendor/phpstan
/vendor/phar-io
/vendor/psr
/vendor/phpdocumentor
/vendor/symfony



