{% extends 'base.html.twig' %}
{% block body %}

   <h1>BÚSQUEDA</h1
 <ul>
     {% for dote in resultado %}
     <a href="{{ path( "app_dote", { "id": dote.id} ) }}">
      
       <li>{{ dote.Nombre }}</li>
        <li>{{dote.Autor}}</li>
         
      </a>
      <hr>
     {% endfor %}
    </ul>
 



{% endblock %}


