{% extends 'base.html.twig' %}
{% block body %}

   <h1>BÚSQUEDA</h1
 <ul>
     {% for raza in resultado %}
     <a href="{{ path( "app_raza", { "id": raza.id} ) }}">
      
       <li>{{ raza.Nombre }}</li>
        <li>{{raza.Autor}}</li>
         
      </a>
      <hr>
     {% endfor %}
    </ul>
 



{% endblock %}


