{% extends 'base.html.twig' %}
{% block body %}

   <h1>BÚSQUEDA</h1
 <ul>
     {% for subclase in resultado %}
     <a href="{{ path( "app_subclase", { "id": subclase.id} ) }}">
      
       <li>{{ subclase.Nombre }}</li>
        <li>{{subclase.Autor}}</li>
         
      </a>
      <hr>
     {% endfor %}
    </ul>
 



{% endblock %}


