{% extends 'base.html.twig' %}
{% block body %}

   <h1>BÚSQUEDA</h1
 <ul>
     {% for trasfondo in resultado %}
     <a href="{{ path( "app_trasfondo", { "id": trasfondo.id} ) }}">
      
       <li>{{ trasfondo.Nombre }}</li>
        <li>{{trasfondo.Autor}}</li>
         
      </a>
      <hr>
     {% endfor %}
    </ul>
 



{% endblock %}


