{% extends 'base.html.twig' %}
{% block body %}

   <h1>BÚSQUEDA</h1
 <ul>
     {% for hechizo in resultado %}
     <a href="{{ path( "app_hechizo", { "id": hechizo.id} ) }}">
      
       <li>{{ hechizo.Nombre }}</li>
        <li>{{hechizo.Autor}}</li>
         
      </a>
      <hr>
     {% endfor %}
    </ul>
 



{% endblock %}


